/projects/04_match_reports/pass_reports/
/projects/04_match_reports/shot_reports/
/projects/05_competition_reports/top_progressive_passers/
/data_directory/whoscored_data/2022_23/
/data_directory/statsbomb_data/2017_18/
/data_directory/statsbomb_data/2022_23/
/analysis_tools/get_football_data.py