/analysis_tools/get_football_data.py
/data_directory/statsbomb_data/2017_18/
/data_directory/statsbomb_data/2021_22/
/data_directory/statsbomb_data/2022_23/
/data_directory/whoscored_data/2022_23/
/data_directory/whoscored_data/2021_22/
/data_directory/whoscored_data/2020_21/
/data_directory/whoscored_data/2019_20/
/data_directory/whoscored_data/2018_19/
/data_directory/whoscored_data/2017_18/
/data_directory/whoscored_data/2016_17/
/data_directory/whoscored_data/2015_16/
/data_directory/whoscored_data/2014_15/
/data_directory/whoscored_data/2013_14/
/projects/00_data_import_and_misc_work/import_data_statsbomb.py
/projects/00_data_import_and_misc_work/check_whoscored_data_volume.py
/projects/01_wc2018_box2box_mids_statsbomb/worldcup_b2b_mids/
/projects/02_player_team_valuation_transfermarkt/forward_value_analysis/
/projects/02_player_team_valuation_transfermarkt/market_value_league_table/
/projects/04_match_reports_opta/pass_reports/
/projects/04_match_reports_opta/shot_reports/
/projects/04_match_reports_opta/out_of_possession_reports/
/projects/04_match_reports_opta/out_of_posession_report_sb.py
/projects/05_competition_reports_top_players_opta/player_effective_carriers/
/projects/05_competition_reports_top_players_opta/player_effective_passers/
/projects/05_competition_reports_top_players_opta/player_penalty_takers/
/projects/05_competition_reports_top_players_opta/player_threat_creators/
/projects/05_competition_reports_top_players_opta/top_defensive_actions/
/projects/05_competition_reports_top_players_opta/top_defensive_contributions/
/projects/06_competition_reports_top_teams_opta/team_ball_winning/
/projects/06_competition_reports_top_teams_opta/team_cross_success/
/projects/06_competition_reports_top_teams_opta/team_fullback_combinations/
/projects/06_competition_reports_top_teams_opta/team_threat_creation/
/projects/06_competition_reports_top_teams_opta/team_setpiece_chance_concession/
/projects/07_player_reports_opta/player_reports/
/projects/07_player_reports_opta/player_report_centreforward_sb.py
/projects/07_player_reports_opta/player_report_winger_sb.py
/projects/07_player_reports_opta/test_env.py
